/game/.vs
/game/Release
/game/Debug
/game/game.vcxproj.user
/game/game.opensdf
/game/game.sdf
/game/game.v12.suo
/game/assets/brutal/config.cfg
/game/assets/brutal/eglcfg.cfg
/game/assets/brutal/gamex86.dll
/game/assets/brutal/gamex86.exp
/game/assets/brutal/gamex86.ilk
/game/assets/brutal/gamex86.lib
/game/assets/brutal/gamex86.map
/game/assets/brutal/gamex86.pdb
/game/assets/brutal/save
/game/assets/brutal/dev
